.contact-page {
    max-height: 100vh;
    min-height: 100vh;
    background-color: #b3f6e979;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.contact-form {
    max-width: 450px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-weight: bold;
    direction: rtl;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    background-color: #e5e5e5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: text;
    resize: none;
    outline: none;
    border: none;
    direction: rtl;
    caret-color: #11856d;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

.contact-form button {
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #169b81;
}

.status-message {
    text-align: center;
    color: #5f5f5f;
    font-weight: bold;
    direction: rtl;
    margin-bottom: 0;
}