.navbar_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 24px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar_left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.navbar_center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 6px;
    margin-left: -2px;
    color: #787878;
    position: absolute;
    z-index: 100;
    left: 7px;
}

.search_in_navbar {
    background-color: #e8e8e8ca;
    border-radius: 20px 8px 8px 20px;
    color: #555;
    font-size: 16px;
    width: 140px;
    direction: rtl;
    padding: 7px 7px 7px 30px;
    cursor: text;
    border: 2px solid transparent;
    outline: none;
    position: relative;
}

.search_in_navbar:focus {
    background-color: #e8e8e889;
    border-bottom: 2px solid #00ff84a5;
    border-left: 2px solid #00ff84a5;
    outline: none;
    transition: border 1.2s ease-in-out;
}

.links_list {
    display: flex;
    /* gap: 40px; */
    gap: 50px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    direction: rtl;
}

.avatar-fallback {
    background-color: #92f7df;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    object-fit: cover;
}

#else-color {
    color: #a8c06b;
    font-weight: 500;
}

#female-color {
    color: rgb(177, 78, 121);
    font-weight: 500;
}

#male-color {
    color: rgb(78, 124, 184);
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
}

.nav-item:hover,
.nav-item:active {
    color: #02dca9;
}

.notif-icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

.notif-badge {
    position: absolute;
    top: -6px;
    left: -10px;
    background-color: #e53935;
    color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.logo {
    width: 82px;
    height: auto;
    object-fit: contain;
    margin-bottom: -4px;
}

.logo_nav-link {
    text-decoration: none;
}

.openLinksButton {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .openLinksButton {
        display: block;
    }

    .search_in_navbar,
    .search-icon,
    .links_list {
        display: none !important;
    }
}