.addPostPage {
    background: linear-gradient(90deg, #feb96a57, #fffed9b1);
    padding: 50px;
}

.AddPostForm {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2rem;
    background-color: #ffffff;
    border: 2px solid #ddc1a1c1;
    border-radius: 1rem;
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.AddPostForm h2 {
    color: #9b4600;
    text-align: center;
    margin-bottom: 1rem;
}

.AddPostForm label {
    font-weight: bold;
}

.AddPostForm input,
.AddPostForm textarea,
.AddPostForm button {
    direction: rtl;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    cursor: text;
    font-family: Arial, Helvetica, sans-serif;
}

.apload_files input {
    background-color: #ffffff;
    min-height: 50px;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
}

.post-content {
    width: 100%;
    min-height: 120px;
    padding: 10px 40px 10px 35px;
    box-sizing: border-box;
    resize: vertical;
}

.emoji-button {
    position: absolute;
    bottom: 15px;
    left: 10px;
    background: transparent !important;
    border: 3px solid rgba(240, 208, 133, 0.561);
    border-radius: 30%;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
}

.emoji-picker-container {
    position: absolute;
    bottom: 45px;
    left: 0;
    z-index: 10;
}

.filesPart {
    background-color: #ffa76049;
    padding: 20px 20px 20px 20px;
    border-radius: 0.5rem;
}

.choose_file_label {
    color: #9b551caf;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}

.apload_files {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aploadfile {
    display: flex;
    flex-direction: column;
    width: 210px;
}

.aploadfile label {
    padding-bottom: 6px;
    font-weight: bold;
    color: #535353;
}

.aploadfile label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    direction: rtl;
}

.aploadfile input[type="text"],
.aploadfile input[type="file"] {
    margin-top: 4px;
    width: 100%;
}

.preview-achievement-img {
  margin-top: 10px;
  text-align: center;
}

.achievementCompletedBG {
  max-width: 100%;
  max-height: 350px;
  border-radius: 10px;
  margin-top: 5px;
}

.imagePreview {
  margin-top: 15px;
  text-align: center;
}

.preview-image {
  max-width: 100%;
  border-radius: 10px;
  object-fit: contain; /* או cover אם את רוצה שהתמונה תתמלא */
  border: 1px solid #ccc;
}

.bg_color_change {
    width: 40px !important;
    height: 40px;
    border-radius: 50% !important;
    background-color: #ffffff;
    cursor: pointer !important;
    padding: 0 !important;
}

.bg_color_change::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.HEXcolor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    letter-spacing: 1.5px;
}

.addPostSubmit {
    background-color: #ed8128;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addPostSubmit:hover {
    background-color: #d57425;
    cursor: pointer;
}

#requireInput {
    color: #ed8128;
}

.error {
    color: rgb(255, 43, 43);
    font-size: 0.85rem;
    font-weight: bold;
}

.react-select-container {
    direction: rtl;
    text-align: right;
    cursor: pointer;
}

.react-select__option--is-focused {
    background-color: #d3d3d3 !important;
    color: #000 !important;
}

.react-select__option--is-selected {
    background-color: #ffd8b9 !important;
    color: rgb(0, 0, 0) !important;
}

.react-select__control {
    border-radius: 0.5rem !important;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
    outline: none !important;
}

.react-select__control:focus {
    outline: none !important;
    box-shadow: none !important;
}