@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Playpen+Sans+Hebrew:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.app {
    min-height: 100vh;
    background-color: white;
}